# Généré par backend-kit/outils/generer-openapi.mts : ne pas modifier à la main.
openapi: 3.1.0
info:
  title: BelivaY — API de l’espace client
  version: 0.1.0
  description: |-
    Contrat des routes que le site client (site/, VITE_SOURCE=api) appelle : les routes existantes de relaya-marketplace
    (commit 9546ffe) et toutes les routes à créer. Généré par backend-kit/outils/generer-openapi.mts depuis
    site/src/api/routes.ts et site/src/donnees/source.ts ; ne pas modifier à la main.

    - Réponses des routes à créer : les types de source.ts tels quels (champs camelCase, dates en ms).
    - Montants : francs CFA entiers (CAP-06). Erreurs : `{ "error": { "code", "message", "data" } }` (CAP-04).
    - `Idempotency-Key` : même clé, même réponse, pendant 24 h (CAP-03).
    - Pagination par curseur (`cursor`, `next_cursor`, CAP-05). Langue : `Accept-Language` (CAP-08).
    - Un module fermé par son interrupteur (FF-*) répond 404 sur ses routes (CAP-13).
servers:
  - url: https://belivay.com
    description: Production (nginx route /api/ vers Django)
  - url: http://localhost:8000
    description: Développement
security:
  - jwt: []
tags:
  - name: Contenus et photos
  - name: Connexion et inscription
  - name: Sécurité, confidentialité, suppression
  - name: Diaspora et proches
  - name: Favoris
  - name: Panier et panier partagé
  - name: Session, menu et compte
  - name: Notifications
  - name: Profil, numéro et codes
  - name: Catalogue, fiche et avis produit
  - name: Ventes flash
  - name: Échanges entre clients
  - name: Paiement
  - name: Messagerie, aide et rappel
  - name: Litiges et retours
  - name: Légal
  - name: Relais, adresses, intérêts
  - name: Devenir vendeur
  - name: Abonnement et cagnotte
  - name: Portefeuille, moyens de paiement, factures
  - name: Panier famille
  - name: Mises de côté
  - name: Cotisations
  - name: Troc
  - name: Listes d'envies
  - name: Commandes, retrait et modification
  - name: Avis sur une commande
  - name: Rentrée scolaire
  - name: WhatsApp
paths:
  /api/admin/media:
    post:
      operationId: post_admin_media
      tags:
        - Contenus et photos
      summary: "(admin : téléversement) — à créer"
      description: |-
        Méthode(s) de la source du site : `(admin : téléversement)`.
        - Équipe seulement (is_staff) : 403 sinon. Multipart. Variantes WebP 320/640/960/1600 px (srcset) si Pillow est installé.
      x-belivay-etat: serveur
      x-belivay-sources:
        - "(admin : téléversement)"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - fichier
              properties:
                fichier:
                  type: string
                  format: binary
                  description: JPEG, PNG, WebP ou AVIF, 8 Mo au plus
                alt:
                  type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PhotoServeur"
                  - type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "422":
          description: "Refusé par une règle métier : photo_type, photo_taille"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - photo_type
                              - photo_taille
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/apple/:
    post:
      operationId: post_auth_apple_relaya
      tags:
        - Connexion et inscription
      summary: connecter — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `connecter`.
        - connecter : Routes existantes. Manque côté site : Google Identity Services (VITE_GOOGLE_CLIENT_ID) et Sign in with Apple JS (VITE_APPLE_CLIENT_ID) pour obtenir le jeton.
      x-belivay-etat: front
      x-belivay-sources:
        - connecter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identity_token:
                  type: string
                authorization_code:
                  type: string
              required:
                - identity_token
                - authorization_code
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RJetons"
                  - $ref: "#/components/schemas/RDeuxFacteurs"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/change-password/:
    post:
      operationId: post_auth_change_password_relaya
      tags:
        - Sécurité, confidentialité, suppression
      summary: changerMotDePasse — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `changerMotDePasse`.
        - changerMotDePasse : Premier mot de passe (compte Google ou Apple, ancien = null) : route à créer POST /api/auth/password/set. Fermer les autres sessions (CAP-17).
      x-belivay-etat: branche
      x-belivay-sources:
        - changerMotDePasse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                new_password2:
                  type: string
              required:
                - old_password
                - new_password
                - new_password2
      responses:
        "200":
          description: Succès, sans contenu
        "400":
          description: "Requête invalide (champs) : old_password, new_password"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - old_password
                              - new_password
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/diaspora/register:
    post:
      operationId: post_auth_diaspora_register
      tags:
        - Diaspora et proches
      summary: inscrireDiaspora — à créer
      description: |-
        Méthode(s) de la source du site : `inscrireDiaspora`.
        - inscrireDiaspora : Communs : prénom, nom, naissance (18 ans), pays accepté et son indicatif, numéro de ce pays (jamais +237) vérifié par code SMS. Google/Apple : e-mail repris du jeton (déjà vérifié), ni mot de passe ni code e-mail ; convertir=true passe le compte existant en diaspora. Numéro : e-mail facultatif.
      x-belivay-etat: branche
      x-belivay-sources:
        - inscrireDiaspora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prenom:
                  type: string
                nom:
                  type: string
                email:
                  type: string
                motDePasse:
                  type: string
                codeEmail:
                  type: string
                naissance:
                  type: string
                pays:
                  type: string
                ville:
                  type: string
                indicatif:
                  type: string
                numero:
                  type: string
                code:
                  type: string
              required:
                - prenom
                - nom
                - email
                - motDePasse
                - codeEmail
                - naissance
                - pays
                - ville
                - indicatif
                - numero
                - code
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_inscrireDiaspora"
        "400":
          $ref: "#/components/responses/Invalide"
        "409":
          description: "Conflit : la situation a changé : existe"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - existe
        "422":
          description: "Refusé par une règle métier : code, codeEmail, age, pays, numero, jeton"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - code
                              - codeEmail
                              - age
                              - pays
                              - numero
                              - jeton
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/favorites/:
    get:
      operationId: get_auth_favorites_relaya
      tags:
        - Favoris
        - Panier et panier partagé
      summary: favoris, basculerFavori, panier — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `favoris`, `basculerFavori`, `panier`.
        - favoris : Manquent : variante, prix à l’ajout, prix livré au relais, état du stock (retour), alertes.
        - panier : Kit : apps/cart (frais du moteur, comptoir, changements CAL-11). Panier d’un visiteur par X-Device-Id : à faire (D18).
      x-belivay-etat: partiel,branche
      x-belivay-sources:
        - favoris
        - basculerFavori
        - panier
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/RFavori"
                  - type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type:
                          - string
                          - "null"
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/RFavori"
                    required:
                      - results
        "401":
          $ref: "#/components/responses/NonAuthentifie"
    post:
      operationId: post_auth_favorites_relaya
      tags:
        - Favoris
      summary: basculerFavori, remettreFavori — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `basculerFavori`, `remettreFavori`."
      x-belivay-etat: branche
      x-belivay-sources:
        - basculerFavori
        - remettreFavori
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RFavori"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/favorites/{id}/:
    delete:
      operationId: delete_auth_favorites_id_relaya
      tags:
        - Favoris
      summary: basculerFavori, retirerFavori — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `basculerFavori`, `retirerFavori`."
      x-belivay-etat: branche
      x-belivay-sources:
        - basculerFavori
        - retirerFavori
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/google/:
    post:
      operationId: post_auth_google_relaya
      tags:
        - Connexion et inscription
      summary: connecter — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `connecter`.
        - connecter : Routes existantes. Manque côté site : Google Identity Services (VITE_GOOGLE_CLIENT_ID) et Sign in with Apple JS (VITE_APPLE_CLIENT_ID) pour obtenir le jeton.
      x-belivay-etat: front
      x-belivay-sources:
        - connecter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credential:
                  type: string
              required:
                - credential
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RJetons"
                  - $ref: "#/components/schemas/RDeuxFacteurs"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/login/:
    post:
      operationId: post_auth_login_relaya
      tags:
        - Connexion et inscription
      summary: connecterEmail, inscrire — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `connecterEmail`, `inscrire`.
        - connecterEmail : Le serveur ne renvoie pas les essais restants (CIN : 5 essais puis 15 min) ; limite actuelle 5/min par IP. La 2FA par e-mail (2fa_required) n'a pas d'écran.
        - inscrire : Spécification : POST /auth/email {mode: signup} (409 e-mail pris).
      x-belivay-etat: branche
      x-belivay-sources:
        - connecterEmail
        - inscrire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    username:
                      type: string
                      description: e-mail
                    password:
                      type: string
                  required:
                    - username
                    - password
                - type: object
                  properties:
                    i:
                      $ref: "#/components/schemas/Param_inscrire_0"
                    seSouvenir:
                      $ref: "#/components/schemas/Param_inscrire_1"
                  required:
                    - i
                    - seSouvenir
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RJetons"
                  - $ref: "#/components/schemas/RDeuxFacteurs"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/logout/:
    post:
      operationId: post_auth_logout_relaya
      tags:
        - Connexion et inscription
      summary: deconnecter — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `deconnecter`.
        - deconnecter : Révoquer aussi le jeton de notifications (DELETE /api/devices, CAP-17).
      x-belivay-etat: branche
      x-belivay-sources:
        - deconnecter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
              required:
                - refresh
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/me/:
    get:
      operationId: get_auth_me_relaya
      tags:
        - Session, menu et compte
        - Sécurité, confidentialité, suppression
      summary: session, securite — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `session`, `securite`.
        - session : Interrupteurs : GET /api/config/flags (kit) ; relais habituel : GET /api/me (kit). Manquent : horaire du jour en mots du relais, chiffres du bandeau (quartiers exploités, seuil de retrait offert), type de compte, devise et proche actif (diaspora). À terme un seul GET /api/me (CL-02).
        - securite : Numéro vérifié : GET /api/me (kit). Manquent : date de vérification, comptes Google/Apple liés, historique des connexions, lieu, biométrie, seuil CODE-BIO, alerte de connexion (écrite par PATCH /api/me/security, pas encore relue).
      x-belivay-etat: partiel
      x-belivay-sources:
        - session
        - securite
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RUtilisateur"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
  /api/auth/notifications/:
    get:
      operationId: get_auth_notifications_relaya
      tags:
        - Session, menu et compte
        - Notifications
      summary: session, notificationsClient — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `session`, `notificationsClient`.
        - session : Interrupteurs : GET /api/config/flags (kit) ; relais habituel : GET /api/me (kit). Manquent : horaire du jour en mots du relais, chiffres du bandeau (quartiers exploités, seuil de retrait offert), type de compte, devise et proche actif (diaspora). À terme un seul GET /api/me (CL-02).
        - notificationsClient : Manquent : catégorie « Retrait » distincte, envoi par SMS (sms), pagination par curseur (30 par page, CAP-05).
      x-belivay-etat: partiel
      x-belivay-sources:
        - session
        - notificationsClient
      parameters:
        - $ref: "#/components/parameters/Curseur"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 30
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/RNotification"
                  - type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type:
                          - string
                          - "null"
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/RNotification"
                    required:
                      - results
        "401":
          $ref: "#/components/responses/NonAuthentifie"
  /api/auth/notifications/{id}/read/:
    post:
      operationId: post_auth_notifications_id_read_relaya
      tags:
        - Notifications
      summary: lireNotification — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `lireNotification`."
      x-belivay-etat: branche
      x-belivay-sources:
        - lireNotification
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/notifications/read-all/:
    post:
      operationId: post_auth_notifications_read_all_relaya
      tags:
        - Notifications
      summary: lireNotification — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `lireNotification`."
      x-belivay-etat: branche
      x-belivay-sources:
        - lireNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: "#/components/schemas/Param_lireNotification_0"
              required:
                - id
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/otp/send:
    post:
      operationId: post_auth_otp_send
      tags:
        - Profil, numéro et codes
        - Diaspora et proches
      summary: envoyerCode, envoyerCodeDiaspora — à créer
      description: |-
        Méthode(s) de la source du site : `envoyerCode`, `envoyerCodeDiaspora`.
        - envoyerCode : purpose = l’objet du site (profil, email-sms, email-adresse, numero-ancien, numero-nouveau, moyen, suppression) ; sans destination : le numéro vérifié du compte. Prestataire SMS : console dans le kit (à désigner).
        - envoyerCodeDiaspora : Inscription : sans compte, à la destination donnée. Vérification renforcée d’une commande pour un proche (numéro masqué du compte) : diaspora-renforce, au numéro étranger vérifié du compte.
      x-belivay-etat: branche
      x-belivay-sources:
        - envoyerCode
        - envoyerCodeDiaspora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purpose:
                  anyOf:
                    - type: string
                    - type: string
                      description: diaspora | diaspora-renforce
                destination:
                  type: string
                canal:
                  type: string
                  enum:
                    - sms
                    - whatsapp
                    - email
      responses:
        "202":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Reponse_envoyerCode"
                  - $ref: "#/components/schemas/Reponse_envoyerCodeDiaspora"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/otp/verify:
    post:
      operationId: post_auth_otp_verify
      tags:
        - Profil, numéro et codes
        - Diaspora et proches
      summary: verifierPremierNumero, verifierCodeEmail, verifierCodeNumeroAncien, verifierCodeDiaspora — à créer
      description: |-
        Méthode(s) de la source du site : `verifierPremierNumero`, `verifierCodeEmail`, `verifierCodeNumeroAncien`, `verifierCodeDiaspora`.
        - verifierPremierNumero : relaya : POST /api/auth/phone/validate/ normalise le numéro sans le vérifier.
      x-belivay-etat: branche
      x-belivay-sources:
        - verifierPremierNumero
        - verifierCodeEmail
        - verifierCodeNumeroAncien
        - verifierCodeDiaspora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                numero:
                  type: string
                code:
                  type: string
                purpose:
                  anyOf:
                    - anyOf:
                        - type: string
                          description: email-sms
                        - type: string
                          description: numero-ancien
                    - type: string
                      enum:
                        - diaspora
                destination:
                  type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Reponse_verifierPremierNumero"
                  - $ref: "#/components/schemas/Reponse_verifierCodeEmail"
                  - $ref: "#/components/schemas/Reponse_verifierCodeNumeroAncien"
                  - $ref: "#/components/schemas/Reponse_verifierCodeDiaspora"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : utilise"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - utilise
        "422":
          description: "Refusé par une règle métier : code"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - code
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/password/forgot:
    post:
      operationId: post_auth_password_forgot
      tags:
        - Connexion et inscription
      summary: demanderLienMdp — à créer
      description: |-
        Méthode(s) de la source du site : `demanderLienMdp`.
        - demanderLienMdp : Toujours 202, que le compte existe ou non (CAP-16) ; lien à usage unique (MDP-LIEN), envoyé par e-mail (/mdp-nouveau?jeton=…). email null : le compte retenu sur l’appareil.
      x-belivay-etat: branche
      x-belivay-sources:
        - demanderLienMdp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        "202":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_demanderLienMdp"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/password/reset:
    post:
      operationId: post_auth_password_reset
      tags:
        - Connexion et inscription
      summary: nouveauMotDePasse — à créer
      description: |-
        Méthode(s) de la source du site : `nouveauMotDePasse`.
        - nouveauMotDePasse : Page /mdp-nouveau du lien reçu par e-mail. Jeton à usage unique, 30 min ; règle DP-04 (8 caractères dont un chiffre) refaite côté serveur ; succès : les autres sessions sont révoquées.
      x-belivay-etat: branche
      x-belivay-sources:
        - nouveauMotDePasse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jeton:
                  type: string
                mot_de_passe:
                  type: string
              required:
                - jeton
                - mot_de_passe
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_nouveauMotDePasse"
        "400":
          $ref: "#/components/responses/Invalide"
        "404":
          description: "Introuvable (ou module fermé par un interrupteur, CAP-13) : invalide"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - invalide
        "410":
          description: "Plus disponible : expire"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - expire
        "422":
          description: "Refusé par une règle métier : regle"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - regle
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/refresh/:
    post:
      operationId: post_auth_refresh_relaya
      tags:
        - Connexion et inscription
      summary: reprendreCompte — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `reprendreCompte`."
      x-belivay-etat: branche
      x-belivay-sources:
        - reprendreCompte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
              required:
                - refresh
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RJetons"
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/register/:
    post:
      operationId: post_auth_register_relaya
      tags:
        - Connexion et inscription
      summary: inscrire — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `inscrire`.
        - inscrire : Spécification : POST /auth/email {mode: signup} (409 e-mail pris).
      x-belivay-etat: branche
      x-belivay-sources:
        - inscrire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password2:
                  type: string
                first_name:
                  type: string
              required:
                - username
                - email
                - password
                - password2
                - first_name
      responses:
        "200":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/auth/sessions/:
    get:
      operationId: get_auth_sessions_relaya
      tags:
        - Sécurité, confidentialité, suppression
      summary: securite — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `securite`.
        - securite : Numéro vérifié : GET /api/me (kit). Manquent : date de vérification, comptes Google/Apple liés, historique des connexions, lieu, biométrie, seuil CODE-BIO, alerte de connexion (écrite par PATCH /api/me/security, pas encore relue).
      x-belivay-etat: partiel
      x-belivay-sources:
        - securite
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RSessionAppareil"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
  /api/auth/sessions/{jti}/revoke/:
    delete:
      operationId: delete_auth_sessions_jti_revoke_relaya
      tags:
        - Sécurité, confidentialité, suppression
      summary: deconnecterAppareil — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `deconnecterAppareil`."
      x-belivay-etat: branche
      x-belivay-sources:
        - deconnecterAppareil
      parameters:
        - name: jti
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/sessions/revoke-all/:
    post:
      operationId: post_auth_sessions_revoke_all_relaya
      tags:
        - Sécurité, confidentialité, suppression
      summary: deconnecterAutres — existe (relaya-marketplace)
      description: "Méthode(s) de la source du site : `deconnecterAutres`."
      x-belivay-etat: branche
      x-belivay-sources:
        - deconnecterAutres
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/social/diaspora:
    post:
      operationId: post_auth_social_diaspora
      tags:
        - Diaspora et proches
      summary: inscrireDiaspora — à créer
      description: |-
        Méthode(s) de la source du site : `inscrireDiaspora`.
        - inscrireDiaspora : Communs : prénom, nom, naissance (18 ans), pays accepté et son indicatif, numéro de ce pays (jamais +237) vérifié par code SMS. Google/Apple : e-mail repris du jeton (déjà vérifié), ni mot de passe ni code e-mail ; convertir=true passe le compte existant en diaspora. Numéro : e-mail facultatif.
      x-belivay-etat: branche
      x-belivay-sources:
        - inscrireDiaspora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fournisseur:
                  type: string
                  enum:
                    - google
                    - apple
                    - numero
                jeton:
                  type: string
                convertir:
                  type: string
                prenom:
                  type: string
                nom:
                  type: string
                email:
                  type: string
                naissance:
                  type: string
                pays:
                  type: string
                ville:
                  type: string
                indicatif:
                  type: string
                numero:
                  type: string
                code:
                  type: string
              required:
                - fournisseur
                - prenom
                - nom
                - email
                - naissance
                - pays
                - ville
                - indicatif
                - numero
                - code
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_inscrireDiaspora"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : existe"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - existe
        "422":
          description: "Refusé par une règle métier : code, codeEmail, age, pays, numero, jeton"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - code
                              - codeEmail
                              - age
                              - pays
                              - numero
                              - jeton
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/auth/social/lookup:
    post:
      operationId: post_auth_social_lookup
      tags:
        - Diaspora et proches
      summary: identiteFournisseur — à créer
      description: |-
        Méthode(s) de la source du site : `identiteFournisseur`.
        - identiteFournisseur : Jeton obtenu par Google Identity Services (VITE_GOOGLE_CLIENT_ID) ou Sign in with Apple JS (VITE_APPLE_CLIENT_ID) ; le serveur le vérifie et ne crée rien.
      x-belivay-etat: front
      x-belivay-sources:
        - identiteFournisseur
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  enum:
                    - google
                    - apple
                credential:
                  type: string
                  description: credential | identity_token
              required:
                - provider
                - credential
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_identiteFournisseur"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart:
    get:
      operationId: get_cart
      tags:
        - Session, menu et compte
        - Panier et panier partagé
      summary: session, panier, verifierPanier — à créer
      description: |-
        Méthode(s) de la source du site : `session`, `panier`, `verifierPanier`.
        - session : Interrupteurs : GET /api/config/flags (kit) ; relais habituel : GET /api/me (kit). Manquent : horaire du jour en mots du relais, chiffres du bandeau (quartiers exploités, seuil de retrait offert), type de compte, devise et proche actif (diaspora). À terme un seul GET /api/me (CL-02).
        - panier : Kit : apps/cart (frais du moteur, comptoir, changements CAL-11). Panier d’un visiteur par X-Device-Id : à faire (D18).
      x-belivay-etat: partiel,branche
      x-belivay-sources:
        - session
        - panier
        - verifierPanier
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Reponse_panier"
                  - type: object
                    required:
                      - changements
                      - frais
                      - comptoir
                    properties:
                      changements:
                        type: array
                        items:
                          $ref: "#/components/schemas/ChangementPanier"
                        description: "verifierPanier() : baisses déjà appliquées, hausses et retraits à accepter"
                      frais:
                        anyOf:
                          - $ref: "#/components/schemas/FraisPanierServeur"
                          - type: "null"
                        description: "null : panier vide"
                      comptoir:
                        anyOf:
                          - $ref: "#/components/schemas/EligibiliteComptoir"
                          - type: "null"
                      version_parametres:
                        type: string
        "401":
          $ref: "#/components/responses/NonAuthentifie"
    patch:
      operationId: patch_cart
      tags:
        - Panier et panier partagé
      summary: choisirModePanier — à créer
      description: "Méthode(s) de la source du site : `choisirModePanier`."
      x-belivay-etat: branche
      x-belivay-sources:
        - choisirModePanier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum:
                    - relais
                    - domicile
              required:
                - mode
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart/lines:
    post:
      operationId: post_cart_lines
      tags:
        - Catalogue, fiche et avis produit
        - Favoris
        - Panier et panier partagé
        - Ventes flash
      summary: ajouterProduit, favoriAuPanier, remettreLigne, ajouterAuPanier, ajouterFlash — à créer
      description: "Méthode(s) de la source du site : `ajouterProduit`, `favoriAuPanier`, `remettreLigne`, `ajouterAuPanier`, `ajouterFlash`."
      x-belivay-etat: branche
      x-belivay-sources:
        - ajouterProduit
        - favoriAuPanier
        - remettreLigne
        - ajouterAuPanier
        - ajouterFlash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                produit:
                  type: string
                options:
                  type: string
                qte:
                  type: integer
                boutique:
                  type: string
                favori:
                  type: string
                ligne:
                  type: string
                position:
                  type: integer
                flash:
                  type: boolean
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_ajouterFlash"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart/lines/{id}:
    delete:
      operationId: delete_cart_lines_id
      tags:
        - Panier et panier partagé
      summary: retirerLigne — à créer
      description: "Méthode(s) de la source du site : `retirerLigne`."
      x-belivay-etat: branche
      x-belivay-sources:
        - retirerLigne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
    patch:
      operationId: patch_cart_lines_id
      tags:
        - Panier et panier partagé
      summary: changerQuantite, changerOption — à créer
      description: "Méthode(s) de la source du site : `changerQuantite`, `changerOption`."
      x-belivay-etat: branche
      x-belivay-sources:
        - changerQuantite
        - changerOption
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                qte:
                  type: integer
                nom:
                  type: string
                valeur:
                  type: string
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart/lines/{id}/save:
    post:
      operationId: post_cart_lines_id_save
      tags:
        - Favoris
      summary: mettreEnFavori — à créer
      description: "Méthode(s) de la source du site : `mettreEnFavori`."
      x-belivay-etat: branche
      x-belivay-sources:
        - mettreEnFavori
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart/lines/{id}/swap-offer:
    post:
      operationId: post_cart_lines_id_swap_offer
      tags:
        - Panier et panier partagé
      summary: choisirVendeur — à créer
      description: "Méthode(s) de la source du site : `choisirVendeur`."
      x-belivay-etat: branche
      x-belivay-sources:
        - choisirVendeur
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                boutique:
                  type: string
              required:
                - boutique
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/cart/send-to:
    post:
      operationId: post_cart_send_to
      tags:
        - Échanges entre clients
      summary: envoyerPanierA — à créer
      description: |-
        Méthode(s) de la source du site : `envoyerPanierA`.
        - envoyerPanierA : À créer. Contrôle destinatairePeutPayer refait côté serveur.
      x-belivay-etat: branche
      x-belivay-sources:
        - envoyerPanierA
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prenom:
                  type: string
                proche:
                  type: string
                relais:
                  type: string
                qui_paie_livraison:
                  type: string
                moyen:
                  type: string
                mot:
                  type: string
              required:
                - prenom
                - relais
                - qui_paie_livraison
                - moyen
                - mot
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_envoyerPanierA"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/carts/{id}/share:
    post:
      operationId: post_carts_id_share
      tags:
        - Panier et panier partagé
      summary: partagerPanier — à créer
      description: "Méthode(s) de la source du site : `partagerPanier`."
      x-belivay-etat: branche
      x-belivay-sources:
        - partagerPanier
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lignes:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_partagerPanier"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/catalog/products/:
    get:
      operationId: get_catalog_products_relaya
      tags:
        - Catalogue, fiche et avis produit
      summary: produits — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `produits`.
        - produits : Manquent : classe de colis, variantes et options, vendeur (palier, Trust Score, km), autres offres, distance au relais, caractéristiques, univers. Spécification : GET /api/listing/{cat} et GET /api/search (curseur).
      x-belivay-etat: partiel
      x-belivay-sources:
        - produits
      parameters:
        - name: page_size
          in: query
          required: false
          schema:
            type: string
            enum:
              - "100"
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/RProduit"
                  - type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type:
                          - string
                          - "null"
                      results:
                        type: array
                        items:
                          $ref: "#/components/schemas/RProduit"
                    required:
                      - results
      security:
        - {}
        - jwt: []
  /api/catalog/products/{id}/:
    get:
      operationId: get_catalog_products_id_relaya
      tags:
        - Catalogue, fiche et avis produit
      summary: produit — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `produit`.
        - produit : Mêmes manques ; spécification : GET /api/products/{maitre}?relais=&variante= (offre attribuée, prix livré). relaya a aussi /api/catalog/master-products/{id|slug}/.
      x-belivay-etat: partiel
      x-belivay-sources:
        - produit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RProduit"
        "404":
          $ref: "#/components/responses/Introuvable"
      security:
        - {}
        - jwt: []
  /api/catalog/products/{id}/reviews/:
    get:
      operationId: get_catalog_products_id_reviews_relaya
      tags:
        - Catalogue, fiche et avis produit
      summary: avisProduit — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `avisProduit`.
        - avisProduit : Manquent : répartition des notes (GET /reviews/summary), variante, photo, votes « utile », réponse du vendeur.
      x-belivay-etat: partiel
      x-belivay-sources:
        - avisProduit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RAvis"
        "404":
          $ref: "#/components/responses/Introuvable"
      security:
        - {}
        - jwt: []
  /api/checkout:
    post:
      operationId: post_checkout
      tags:
        - Paiement
      summary: passerCommande — à créer
      description: |-
        Méthode(s) de la source du site : `passerCommande`.
        - passerCommande : Kit : apps/cart (prix recontrôlés, montants figés, sous-commandes, lignes réservées). Clé d’idempotence par intention : reprise après une coupure = même clé. À finir chez relaya : création de la commande par son circuit (D8), Mobile Money par collect et webhooks (D9).
      x-belivay-etat: branche
      x-belivay-sources:
        - passerCommande
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Param_passerCommande_0"
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_passerCommande"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : price_changed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - price_changed
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/checkout/confirm:
    post:
      operationId: post_checkout_confirm
      tags:
        - Panier et panier partagé
      summary: accepterChangements — à créer
      description: "Méthode(s) de la source du site : `accepterChangements`."
      x-belivay-etat: branche
      x-belivay-sources:
        - accepterChangements
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/config/flags:
    get:
      operationId: get_config_flags
      tags:
        - Session, menu et compte
      summary: session — à créer
      description: |-
        Méthode(s) de la source du site : `session`.
        - session : Interrupteurs : GET /api/config/flags (kit) ; relais habituel : GET /api/me (kit). Manquent : horaire du jour en mots du relais, chiffres du bandeau (quartiers exploités, seuil de retrait offert), type de compte, devise et proche actif (diaspora). À terme un seul GET /api/me (CL-02).
      x-belivay-etat: partiel
      x-belivay-sources:
        - session
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_session"
      security:
        - {}
        - jwt: []
  /api/contact/:
    post:
      operationId: post_contact_relaya
      tags:
        - Messagerie, aide et rappel
      summary: ecrireSupport — existe (relaya-marketplace)
      description: |-
        Méthode(s) de la source du site : `ecrireSupport`.
        - ecrireSupport : Formulaire de contact de relaya : pas de fil de conversation, ni photo, ni commande liée, ni masquage. Spécification : POST /api/support/threads.
      x-belivay-etat: partiel
      x-belivay-sources:
        - ecrireSupport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                subject:
                  type: string
                message:
                  type: string
              required:
                - name
                - email
                - phone
                - subject
                - message
      responses:
        "200":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/content/home:
    get:
      operationId: get_content_home
      tags:
        - Contenus et photos
      summary: contenuAccueil — à créer
      description: |-
        Méthode(s) de la source du site : `contenuAccueil`.
        - contenuAccueil : Kit : apps/contenus (éditable dans l’admin, photos téléversées par POST /api/admin/media). Route en échec → contenu par défaut (donnees/contenus.ts).
      x-belivay-etat: branche
      x-belivay-sources:
        - contenuAccueil
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_contenuAccueil"
      security:
        - {}
        - jwt: []
  /api/content/pages/{slug}:
    get:
      operationId: get_content_pages_slug
      tags:
        - Contenus et photos
      summary: (page éditoriale) — à créer
      description: |-
        Méthode(s) de la source du site : `(page éditoriale)`.
        - Public, Cache-Control public max-age=300. FAQ et textes légaux : /api/help/faq et /api/legal/{doc}.
      x-belivay-etat: serveur
      x-belivay-sources:
        - (page éditoriale)
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                type: object
                required:
                  - slug
                  - titre
                  - corps
                  - majLe
                properties:
                  slug:
                    type: string
                  titre:
                    type: string
                  corps:
                    type: string
                    description: Markdown
                  image:
                    oneOf:
                      - $ref: "#/components/schemas/PhotoServeur"
                      - type: "null"
                  majLe:
                    type: integer
                    description: ms depuis 1970
        "404":
          $ref: "#/components/responses/Introuvable"
      security:
        - {}
        - jwt: []
  /api/devices:
    post:
      operationId: post_devices
      tags:
        - Notifications
      summary: enregistrerAbonnementPush — à créer
      description: |-
        Méthode(s) de la source du site : `enregistrerAbonnementPush`.
        - enregistrerAbonnementPush : Spécification : POST · DELETE /devices (jeton par appareil, révoqué à la déconnexion, CAP-17). Envoi : Web Push (VAPID) ou FCM côté serveur.
      x-belivay-etat: branche
      x-belivay-sources:
        - enregistrerAbonnementPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - webpush
                abonnement:
                  $ref: "#/components/schemas/AbonnementPush"
              required:
                - type
                - abonnement
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_enregistrerAbonnementPush"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/devices/{id}:
    delete:
      operationId: delete_devices_id
      tags:
        - Notifications
      summary: enregistrerAbonnementPush — à créer
      description: |-
        Méthode(s) de la source du site : `enregistrerAbonnementPush`.
        - enregistrerAbonnementPush : Spécification : POST · DELETE /devices (jeton par appareil, révoqué à la déconnexion, CAP-17). Envoi : Web Push (VAPID) ou FCM côté serveur.
      x-belivay-etat: branche
      x-belivay-sources:
        - enregistrerAbonnementPush
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_enregistrerAbonnementPush"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/disputes:
    post:
      operationId: post_disputes
      tags:
        - Litiges et retours
      summary: ouvrirLitige — à créer
      description: |-
        Méthode(s) de la source du site : `ouvrirLitige`.
        - ouvrirLitige : relaya : POST /api/orders/{id}/disputes/ {order_item, reason, description} existe, sans photos, souhait ni remboursement automatique.
      x-belivay-etat: branche
      x-belivay-sources:
        - ouvrirLitige
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                colis:
                  type: string
                pb:
                  type: string
                description:
                  type: string
                souhait:
                  type: string
                photos:
                  type: array
                  items:
                    type: string
                    description: "photo (adresse ou data: URL)"
                origine:
                  type: string
              required:
                - ref
                - colis
                - pb
                - description
                - souhait
                - photos
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_ouvrirLitige"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : deja"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - deja
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/disputes/{id}:
    get:
      operationId: get_disputes_id
      tags:
        - Litiges et retours
      summary: litige — à créer
      description: "Méthode(s) de la source du site : `litige`."
      x-belivay-etat: branche
      x-belivay-sources:
        - litige
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_litige"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "404":
          $ref: "#/components/responses/Introuvable"
  /api/disputes/{id}/appeal:
    post:
      operationId: post_disputes_id_appeal
      tags:
        - Litiges et retours
      summary: contesterDecision — à créer
      description: "Méthode(s) de la source du site : `contesterDecision`."
      x-belivay-etat: branche
      x-belivay-sources:
        - contesterDecision
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                motif:
                  type: string
              required:
                - motif
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/disputes/{id}/arrangement:
    post:
      operationId: post_disputes_id_arrangement
      tags:
        - Litiges et retours
      summary: repondreArrangement — à créer
      description: "Méthode(s) de la source du site : `repondreArrangement`."
      x-belivay-etat: branche
      x-belivay-sources:
        - repondreArrangement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accepte:
                  type: boolean
              required:
                - accepte
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/disputes/{id}/withdraw:
    post:
      operationId: post_disputes_id_withdraw
      tags:
        - Litiges et retours
      summary: retirerLitige — à créer
      description: "Méthode(s) de la source du site : `retirerLitige`."
      x-belivay-etat: branche
      x-belivay-sources:
        - retirerLitige
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/family-links/{id}/orders:
    post:
      operationId: post_family_links_id_orders
      tags:
        - Diaspora et proches
      summary: commanderPour — à créer
      description: |-
        Méthode(s) de la source du site : `commanderPour`.
        - commanderPour : Règle donnees/echanges.ts (totalDiaspora, supplementAuProche) refaite côté serveur ; l’adresse du proche ne sort jamais. Carte : jeton du prestataire (src/connecteurs/paiementCarte.ts), jamais le numéro ni le CVC (CAP-24). Le BIN (6 à 8 chiffres, permis par PCI DSS) sert au contrôle de cohérence.
      x-belivay-etat: branche
      x-belivay-sources:
        - commanderPour
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                carte:
                  type: string
                bin:
                  type: string
                paysCarte:
                  type: string
                devise:
                  type: string
                mot:
                  type: string
                titulaire:
                  type: string
                codeSms:
                  type: string
                livraison:
                  type: string
                moyen:
                  type: string
                demande:
                  type: string
                supplementPar:
                  type: string
              required:
                - carte
                - bin
                - paysCarte
                - devise
                - mot
                - titulaire
                - livraison
                - moyen
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_commanderPour"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "422":
          description: "Refusé par une règle métier : domicile, demande, garantie"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - domicile
                              - demande
                              - garantie
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/flash-deals:
    get:
      operationId: get_flash_deals
      tags:
        - Ventes flash
      summary: ventesFlash — à créer
      description: |-
        Méthode(s) de la source du site : `ventesFlash`.
        - ventesFlash : relaya : GET /api/catalog/promotions/active/ et is_flash_deal sur le produit existent ; stock et fin de l’offre à exposer.
      x-belivay-etat: branche
      x-belivay-sources:
        - ventesFlash
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_ventesFlash"
      security:
        - {}
        - jwt: []
  /api/gift-links/{token}:
    get:
      operationId: get_gift_links_token
      tags:
        - Panier et panier partagé
      summary: panierPartage — à créer
      description: "Méthode(s) de la source du site : `panierPartage`."
      x-belivay-etat: branche
      x-belivay-sources:
        - panierPartage
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_panierPartage"
        "404":
          $ref: "#/components/responses/Introuvable"
      security:
        - {}
        - jwt: []
  /api/gift-payments:
    post:
      operationId: post_gift_payments
      tags:
        - Panier et panier partagé
      summary: payerPanierPartage — à créer
      description: |-
        Méthode(s) de la source du site : `payerPanierPartage`.
        - payerPanierPartage : Carte : jeton du prestataire (src/connecteurs/paiementCarte.ts), jamais le numéro ni le CVC (CAP-24).
      x-belivay-etat: branche
      x-belivay-sources:
        - payerPanierPartage
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                prenom:
                  type: string
                email:
                  type: string
                carte_jeton:
                  type: string
                devise:
                  type: string
              required:
                - token
                - prenom
                - email
                - carte_jeton
                - devise
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_payerPanierPartage"
        "400":
          $ref: "#/components/responses/Invalide"
        "402":
          description: "Paiement refusé : card_declined"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - card_declined
        "422":
          description: "Refusé par une règle métier : over_cap"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - over_cap
        "429":
          $ref: "#/components/responses/TropDeRequetes"
      security:
        - {}
        - jwt: []
  /api/help:
    get:
      operationId: get_help
      tags:
        - Messagerie, aide et rappel
      summary: aide — à créer
      description: "Méthode(s) de la source du site : `aide`."
      x-belivay-etat: branche
      x-belivay-sources:
        - aide
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_aide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
  /api/help/faq:
    get:
      operationId: get_help_faq
      tags:
        - Messagerie, aide et rappel
      summary: faq — à créer
      description: "Méthode(s) de la source du site : `faq`."
      x-belivay-etat: branche
      x-belivay-sources:
        - faq
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_faq"
      security:
        - {}
        - jwt: []
  /api/legal/{doc}:
    get:
      operationId: get_legal_doc
      tags:
        - Légal
      summary: legal — à créer
      description: "Méthode(s) de la source du site : `legal`."
      x-belivay-etat: branche
      x-belivay-sources:
        - legal
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_legal"
        "404":
          $ref: "#/components/responses/Introuvable"
      security:
        - {}
        - jwt: []
  /api/me:
    delete:
      operationId: delete_me
      tags:
        - Sécurité, confidentialité, suppression
      summary: supprimerCompte — à créer
      description: |-
        Méthode(s) de la source du site : `supprimerCompte`.
        - supprimerCompte : Kit : code SMS (objet suppression), pseudonymisation, données légales gardées ; succès : jetons et compte retenu effacés de l’appareil. relaya : DELETE /api/auth/me/ {password} reste pour ses autres clients.
      x-belivay-etat: branche
      x-belivay-sources:
        - supprimerCompte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
                - code
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_supprimerCompte"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : compte_en_cours"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - compte_en_cours
        "429":
          $ref: "#/components/responses/TropDeRequetes"
    get:
      operationId: get_me
      tags:
        - Session, menu et compte
        - Sécurité, confidentialité, suppression
        - Relais, adresses, intérêts
      summary: session, compte, securite, relaisListe — à créer
      description: |-
        Méthode(s) de la source du site : `session`, `compte`, `securite`, `relaisListe`.
        - session : Interrupteurs : GET /api/config/flags (kit) ; relais habituel : GET /api/me (kit). Manquent : horaire du jour en mots du relais, chiffres du bandeau (quartiers exploités, seuil de retrait offert), type de compte, devise et proche actif (diaspora). À terme un seul GET /api/me (CL-02).
        - compte : Kit : apps/client_accounts (donnees_compte). Le scénario « nouveau » est propre à la démonstration.
        - securite : Numéro vérifié : GET /api/me (kit). Manquent : date de vérification, comptes Google/Apple liés, historique des connexions, lieu, biométrie, seuil CODE-BIO, alerte de connexion (écrite par PATCH /api/me/security, pas encore relue).
        - relaisListe : Route authentifiée (un visiteur ne voit pas les relais). Manquent : gérant, horaire du jour en mots, jour de fermeture ; filtres open_today et not_full (spécification : GET /api/relais?near=).
      x-belivay-etat: partiel,branche
      x-belivay-sources:
        - session
        - compte
        - securite
        - relaisListe
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Reponse_session"
                  - $ref: "#/components/schemas/Reponse_compte"
                  - $ref: "#/components/schemas/Reponse_securite"
                  - $ref: "#/components/schemas/Reponse_relaisListe"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
    patch:
      operationId: patch_me
      tags:
        - Profil, numéro et codes
      summary: confirmerProfil — à créer
      description: |-
        Méthode(s) de la source du site : `confirmerProfil`.
        - confirmerProfil : relaya : PATCH /api/auth/profile/update/ et POST /api/auth/profile/avatar/ existent, sans code SMS (DP-52 en exige un).
      x-belivay-etat: branche
      x-belivay-sources:
        - confirmerProfil
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prenom:
                  type: string
                nom:
                  type: string
                photo:
                  type: string
                code:
                  type: string
              required:
                - prenom
                - nom
                - photo
                - code
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_confirmerProfil"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/active-relative:
    put:
      operationId: put_me_active_relative
      tags:
        - Diaspora et proches
      summary: choisirProche — à créer
      description: |-
        Méthode(s) de la source du site : `choisirProche`.
        - choisirProche : La session porte ensuite proche {id, prenom, quartier, ville, domicile, autres} ; les distances, délais et « retirable aujourd’hui » du catalogue partent du relais de ce proche (jamais son adresse ni son code).
      x-belivay-etat: branche
      x-belivay-sources:
        - choisirProche
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lien:
                  type: string
              required:
                - lien
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_choisirProche"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "403":
          description: "Interdit : hors"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - hors
        "404":
          description: "Introuvable (ou module fermé par un interrupteur, CAP-13) : lien"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - lien
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/adresses:
    get:
      operationId: get_me_adresses
      tags:
        - Relais, adresses, intérêts
      summary: adresses — à créer
      description: "Méthode(s) de la source du site : `adresses`."
      x-belivay-etat: branche
      x-belivay-sources:
        - adresses
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_adresses"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
    post:
      operationId: post_me_adresses
      tags:
        - Relais, adresses, intérêts
      summary: enregistrerAdresse — à créer
      description: |-
        Méthode(s) de la source du site : `enregistrerAdresse`.
        - enregistrerAdresse : Adresse chiffrée au repos (CAP-21) ; zone : geo.zone_exploitee. relaya garde aussi l’adresse saisie à chaque commande.
      x-belivay-etat: branche
      x-belivay-sources:
        - enregistrerAdresse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                a:
                  type: string
              required:
                - a
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_enregistrerAdresse"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "422":
          description: "Refusé par une règle métier : zone_non_servie"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - zone_non_servie
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/adresses/{id}:
    delete:
      operationId: delete_me_adresses_id
      tags:
        - Relais, adresses, intérêts
      summary: supprimerAdresse — à créer
      description: "Méthode(s) de la source du site : `supprimerAdresse`."
      x-belivay-etat: branche
      x-belivay-sources:
        - supprimerAdresse
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
    put:
      operationId: put_me_adresses_id
      tags:
        - Relais, adresses, intérêts
      summary: enregistrerAdresse, adresseParDefaut — à créer
      description: |-
        Méthode(s) de la source du site : `enregistrerAdresse`, `adresseParDefaut`.
        - enregistrerAdresse : Adresse chiffrée au repos (CAP-21) ; zone : geo.zone_exploitee. relaya garde aussi l’adresse saisie à chaque commande.
      x-belivay-etat: branche
      x-belivay-sources:
        - enregistrerAdresse
        - adresseParDefaut
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                a:
                  type: string
                principale:
                  type: boolean
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_enregistrerAdresse"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "422":
          description: "Refusé par une règle métier : zone_non_servie"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - zone_non_servie
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/business:
    post:
      operationId: post_me_business
      tags:
        - Devenir vendeur
      summary: demanderBusiness — à créer
      description: "Méthode(s) de la source du site : `demanderBusiness`."
      x-belivay-etat: branche
      x-belivay-sources:
        - demanderBusiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                piece:
                  type: string
              required:
                - piece
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/cagnotte/payout:
    post:
      operationId: post_me_cagnotte_payout
      tags:
        - Abonnement et cagnotte
      summary: verserCagnotte — à créer
      description: "Méthode(s) de la source du site : `verserCagnotte`."
      x-belivay-etat: branche
      x-belivay-sources:
        - verserCagnotte
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_verserCagnotte"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/cartes:
    get:
      operationId: get_me_cartes
      tags:
        - Portefeuille, moyens de paiement, factures
      summary: cartes — à créer
      description: "Méthode(s) de la source du site : `cartes`."
      x-belivay-etat: branche
      x-belivay-sources:
        - cartes
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_cartes"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
    post:
      operationId: post_me_cartes
      tags:
        - Portefeuille, moyens de paiement, factures
      summary: ajouterCarte — à créer
      description: |-
        Méthode(s) de la source du site : `ajouterCarte`.
        - ajouterCarte : Le numéro et le CVC sont tokenisés dans le navigateur (src/connecteurs/paiementCarte.ts), jamais envoyés à BelivaY (CAP-24).
      x-belivay-etat: branche
      x-belivay-sources:
        - ajouterCarte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jeton:
                  type: string
                titulaire:
                  type: string
              required:
                - jeton
                - titulaire
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_ajouterCarte"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "409":
          description: "Conflit : la situation a changé : deja"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Erreur"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            enum:
                              - deja
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/cartes/{id}:
    delete:
      operationId: delete_me_cartes_id
      tags:
        - Portefeuille, moyens de paiement, factures
      summary: retirerCarte — à créer
      description: "Méthode(s) de la source du site : `retirerCarte`."
      x-belivay-etat: branche
      x-belivay-sources:
        - retirerCarte
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Succès, sans contenu
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
    patch:
      operationId: patch_me_cartes_id
      tags:
        - Portefeuille, moyens de paiement, factures
      summary: carteParDefaut — à créer
      description: "Méthode(s) de la source du site : `carteParDefaut`."
      x-belivay-etat: branche
      x-belivay-sources:
        - carteParDefaut
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                par_defaut:
                  type: boolean
              required:
                - par_defaut
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/consents:
    post:
      operationId: post_me_consents
      tags:
        - Notifications
      summary: reglerCanal — à créer
      description: "Méthode(s) de la source du site : `reglerCanal`."
      x-belivay-etat: branche
      x-belivay-sources:
        - reglerCanal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                canal:
                  $ref: "#/components/schemas/Param_reglerCanal_0"
              required:
                - canal
      responses:
        "204":
          description: Succès, sans contenu
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/contacts/lookup:
    post:
      operationId: post_me_contacts_lookup
      tags:
        - Échanges entre clients
      summary: chercherProche — à créer
      description: |-
        Méthode(s) de la source du site : `chercherProche`.
        - chercherProche : À créer. Limiter les recherches (anti-annuaire) : 20 par jour.
      x-belivay-etat: branche
      x-belivay-sources:
        - chercherProche
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                numero:
                  type: string
              required:
                - numero
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_chercherProche"
        "400":
          $ref: "#/components/responses/Invalide"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
        "429":
          $ref: "#/components/responses/TropDeRequetes"
  /api/me/deletion:
    get:
      operationId: get_me_deletion
      tags:
        - Sécurité, confidentialité, suppression
      summary: suppression — à créer
      description: "Méthode(s) de la source du site : `suppression`."
      x-belivay-etat: branche
      x-belivay-sources:
        - suppression
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reponse_suppression"
        "401":
          $ref: "#/components/responses/NonAuthentifie"
  /api/me/disputes:
    get:
      operationId: get_me_disputes
      tags:
[...]
