# GENERAL
ENV=dev
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me

# DB
POSTGRES_DB=relaya
POSTGRES_USER=relaya
POSTGRES_PASSWORD=relaya
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# EMAIL CONFIGURATION
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=pinguetn23@gmail.com
EMAIL_HOST_PASSWORD=jukvrdvbebiffwxv
DEFAULT_FROM_EMAIL=BelivaY <pinguetn23@gmail.com>
