@import "./styles/tokens.css";
@import "./styles/theme-dark.css";
@import "./styles/theme-light.css";
@import "./styles/glass.css";
@import "./styles/shadows.css";

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

html {
  font-family: var(--font-sans);
  background: var(--bg-main);
  color: var(--text-main);
}

body {
  margin: 0;
  background: var(--bg-main);
}